apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: public-safety-lab
resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - api-deployment.yaml
  - api-service.yaml
  - worker-deployment.yaml
  - hpa.yaml
